# Latex auxillary files
/doc/*.aux
/doc/*.bbl
/doc/*.blg
/doc/*.log
/doc/*.out
/doc/*.toc
/doc/*.synctex.gz

# some txt files
main_code.txt
config_options.txt

# some obslete directories
/older/*
/python/*

# Compilaton output
src/*.o
src/lagrange_cpp

# ignoring original makefiles
src/Makefile*

# ignoring original source files that are not needed for the moment
src/expm.h
src/BayesianBioGeo*
src/OptimizeBioGeoAll*
src/expokit.f

# Eclipse project files
src/.cproject
src/.project
src/.settings/*
