# Compilaton output
/*.o
lagrange_cpp

# ignoring original makefiles
Makefile*

# ignoring original source files that are not needed for the moment
expm.h
BayesianBioGeo*
OptimizeBioGeoAll*
expokit.f

# Eclipse project files
.cproject
.project
.settings/*
